body #ger
{
    background-color: white;
}
h1
{
    color: palevioletred;
    text-align:center;
    font-weight: bold;
    font-size: 40px;
}
p
{
    color: black;
    text-align: left;
}
button
{
   color: goldenrod;
   text-align: left;
}
button:hover{
    color: rgb(240, 32, 32);
}
button:active{
    color: rgb(240, 32, 32);
}
.tag
{
    color: magenta;
}
